body {

}

h2 {
    color:white;
    font-family:Arial;
}


.element {
    vertical-align: top;
    width: 33%;
    display: inline-block;
    align-self:center;
}

.element-icon {
    height: 400px;
    width: 320px;
}

.container {
    width:1000px;
    margin:0 auto;
}

.icon-description {
    width: inherit;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-ico {
    max-height: 400px;
}

.optional-ico {
    display: inline-block;
    max-height: 200px;
}

.header {
    text-align: center;
}

.duration {
    padding-bottom:5px;
}

.duration-text {
    font-size: 30px;
}

a.text:active,
a.text:hover,
a.text {
    text-decoration: none;
}

.description {
    text-align: left;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
    margin: 0px 10px 0px 0px;
    height: 150px;
}

.description-text {
    font-size: 20px;
    text-align: left;
}

.button {
    background: #f97167;
    display: block;
    width: 240px;
    text-align: center;
    padding: 20px;
    color: white;
}

.route-header {
    font-size: 40px;
    text-align: left;
}

.route-element {
    font-size: 25px;
}

.center {
    text-align: center;
    font-family: "Roboto",sans-serif;
    color: #212121;
}
