@model IEnumerable<SozvezdieTest.Models.Tour>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/mainCss")
    @Scripts.Render("~/tours/script")
</head>
<body>
    <template id="tourElement">
        @TourHelpers.MakeTour(null)
    </template>
    <section>
        <div class="container">
            @foreach (var tour in Model)
            {
                @TourHelpers.MakeTour(tour)
            }
            <p class="button-container">
                <a class="text button" onclick="loadMoreTours()">Загрузить ещё</a>
            </p>
        </div>
    </section>
</body>
</html>
